.login-container {
  text-align: center;
  background: linear-gradient(to bottom, #d8f3dc, #b7e4c7);
  padding: 50px;
  border-radius: 10px;
  width: 60%;
  margin: auto;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.login-info {
  font-size: 1.2em;
  color: #333;
}

.login-button-container {
  margin-top: 20px;
}

.login-button, .signup-button {
  background-color: #74c69d;
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 1.1em;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease;
  margin: 10px;
}

.login-button:hover {
  background-color: #52b788;
}

.signup-button:hover {
  background-color: #40916c;
}