@tailwind base;
@tailwind components;
@tailwind utilities; 

html, body {
    overflow: hidden; /* Hides both horizontal and vertical scrollbars */
    height: 100%;
    margin: 0;
    padding: 0;
  }